
/* navbar */
.container-fluid.zero .navbar {
  background:linear-gradient(to right,#00c8ff,#92fe9d);
  border-radius: 0px 0px 20px 20px;
  width: 100%;
  z-index: 9999;
  left: 0;
}
.container-fluid.zero .navbar .container-fluid.one .navbar-brand {
  color: black;
  font-weight: 900;
}
.container-fluid.zero .navbar .container-fluid.one #count {
  margin-right: 15px;
  width: 60px;
  height: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
  color: rgb(255, 243, 243);
  background-color: rgb(29, 95, 97);
  border-radius: 100px;
  box-shadow: 0 0 0 3px rgb(73, 207, 195),
      0 0 0 6px rgb(95, 217, 199),
      0 0 0 10px rgb(106, 179, 187);
  animation: halo 2s infinite alternate-reverse;
  z-index: 1000;
}

@keyframes halo {
  0% {
      box-shadow: none;
  }
}


.container-fluid.zero .navbar .nav-link {
  text-decoration: none;
  color: black;
  font-weight: 900;
  width: 150px;
  text-align: center;
}
.container-fluid.zero .navbar .nav-link:hover {
  color: black;
}
.container-fluid.zero .navbar .nav-item .dropdown-menu {
  animation: goDown 0.3s ease-in-out forwards;
}
@keyframes goDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}
.container-fluid.zero .navbar .nav-item {
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.container-fluid.zero .navbar .nav-item:hover {
  border-bottom: 0px;
  box-shadow: inset 150px 0 0 0 white;
  
}

.container-fluid.zero .navbar .nav-item:hover .dropdown-menu {
  display:block;
}
.container-fluid.zero .navbar .list-group .list-group-item {
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  text-decoration: none;
  color: black;
}
.container-fluid.zero .navbar .list-group.one .list-group-item:hover {
  box-shadow: inset 300px 0 0 0 #00C9FF ;          
}
.container-fluid.zero .navbar .list-group.two .list-group-item:hover {
  box-shadow: inset 300px 0 0 0 #92FE9D ;          
}
@media only screen and (max-width: 990px) {
  .container-fluid.zero .navbar .nav-link {
    text-align: start;
    margin-left: 10px;
  }
  .container-fluid.zero .navbar .nav-item {
    border-radius: 0px;
  }
  .container-fluid.zero .navbar .nav-item .dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
  }
  .container-fluid.zero .navbar .list-group.one .list-group-item:hover {
    box-shadow: inset 100px 0 0 0 #00C9FF ;          
  }
  .container-fluid.zero .navbar .list-group.two .list-group-item:hover {
    box-shadow: inset 100px 0 0 0 #92FE9D ;          
  }
  /* .navbar .nav-item #card-fix {
    margin-left: 225px;
  } */
}
/* navbar */


.container-fluid.two{
   margin-bottom: 100px;
   width: fit-content;
}
@media only screen and (max-width: 600px) {
  .container.one {
    margin-top: 50px;
  }
}

/* card list */
.container-fluid.three .card-intro {
  background-image: linear-gradient(0deg,#ff8a00,#e52e71);
  border-radius: 15px;
}
.container-fluid.three .card-intro .card-body {
  margin-top: 250px;
}
.container-fluid.three a {
  text-decoration: none;
}
.container-fluid.three .card-list {
  display: flex;
  overflow-x: scroll;

}
.container-fluid.three .card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.container-fluid.three .card-list::-webkit-scrollbar-thumb {
  background-image: linear-gradient(0deg,#ff8a00,#e52e71);
  border-radius: 10px;
}

.container-fluid.three .card,
.container-fluid.three .card-item {
  min-width: 280px;
  height: 450px;
}

.container-fluid.three .card-item {
  border-radius: 16px;
  box-shadow: -16px 0 48px #ddd;
}

.container-fluid.three .card-item:focus-within~.card-item, .card-item:hover~.card-item {
  transform: translateX(130px);
  transition: 1s;
}
.container-fluid.three .card-item:hover {
  transform: translateY(-16px);
  transition: 1s;

}

.container-fluid.three .card-item:not(:first-child) {
  margin-left: -140px;
}
@media only screen and (max-width: 600px) {
  .container-fluid.three .card-intro {
      /* width: 130px;
      height: 200px; */
      width: 100%;
      height: 100%;
  }
  .container-fluid.three .card-intro .card-body {
    margin-top: 30px;
  }
}
/* card list */



/* Box cards */
.container-fluid.four {
  margin-bottom: 100px;
  /* height: 800px;
  position: relative; */
}
.container-fluid.four .box{
  width: 100%;
  height:100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-direction: column;
  background-color: rgba(240, 248, 255, 0.416);
  border-radius: 20px;
  border:  solid red solid lightgray;
  margin-top: 20px;

}
.container-fluid.four .box:hover{
  transform: scale(1.2);
  transition: all 3s;
}
.container-fluid.four .box .btn {
  background:linear-gradient(#00C9FF,#92FE9D);
}

/* .container.two .blob {
  height: 150px;
  width: 150px;
  background:linear-gradient(#00C9FF,#92FE9D);
  margin-bottom: 50px;
  border-radius: 30% 50% 20% 40%;
  position: absolute;
  z-index: -100;
  top: 50px;
  left: -50px;
  animation: 
      Transform 20s ease-in-out alternate infinite,
      movement 60s ease-in-out alternate infinite ;
}
.container.two .blob.one{
  height: 300px;
  width: 300px;
  left: 90%;
  top: 150px;
  animation: 
      Transform 20s ease-in-out alternate infinite,
      movement_one 60s ease-in-out alternate infinite ;
  
}
.container.two .blob.two {
  height: 500px;
  width: 500px;
  top: 300px;
  left: -300px;
  animation: 
      Transform 20s ease-in-out alternate infinite,
      movement_two 60s ease-in-out alternate infinite ;
}
@keyframes Transform {
  0% {border-radius: 30% 50% 20% 40% / 30% 30% 70% 70%;}
  25%   {border-radius: 33% 67% 70% 30% / 37% 65% 35% 63%;}
  50%   {border-radius: 37% 63% 51% 49% / 64% 48% 52% 36%;}
  75%   {border-radius: 36% 64% 64% 36% / 30% 30% 70% 70%;}
  100%   {border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;}
}
@keyframes movement {
 50% {transform:translate(50%,20%) rotate(360deg) scale(2);}
}
@keyframes movement_one {
  50% {transform:translate(-50%,20%) rotate(-360deg);}
}
@keyframes movement_two {
  50% {transform: translate(50%,20%) scale(1.2);}
} */

/* @media only screen and (max-width: 600px) {
  .container.two {
    position: absolute;
  }
} */
/* Box cards */

/* blobs */
/* .container.three {
  height: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .text {
  color: white;
  z-index: 4;
  position: relative;
  font-size: 50px;
} */

/* blobs */


/* video */
.container-fluid.five #video-background {
  width: 100%;
}
/* video */



/* text and images side by side */
.container-fluid.six .col-text {
  height:320px;
}
.container-fluid.six .grid-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row; 
  -webkit-flex-direction: row;
  /* -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around; */
}
.container-fluid.six .col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.col-left {
  -webkit-box-ordinal-group:-1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.container-fluid.six .col-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-fluid.six .Aligner-item {
  width: 60%;
}
.container-fluid.six .col-image {
  background-size: cover;
  background-position:center center;
}

@media (max-width: 640px) {
  .container-fluid.six .grid-flex {
    height: 640px;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column; 
   }
   .container-fluid.six .col {
    order:vertical;
  }
  .container-fluid.six .col-left {
    -webkit-box-ordinal-group:0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .container-fluid.six .col-text div p {
    padding: 1em;
  }
  .container-fluid.six .Aligner-item {
    width: 90%;
  }
}
/* text and images side by side */

/* footer */
footer {
  background:linear-gradient(to right,#00C9FF,#92FE9D);
  color: black;
  border-radius: 20px 20px 0px 0px;
}
/* footer .container.four .row .col {
  margin-top: 50px;
} */
footer a{
  text-decoration: none;
  color: black;
}
footer hr {
  width: 60px; 
  background-color: black; 
  height: 2px
}
footer .social_icon i {
  color: black;
}
footer .social_icon i:hover {
  transform: translate(0px,-20px);
  transition: 1s;
  
}
footer .container-fluid.eight #time {
  margin-right: 5px;
}
/* footer */


