
/* navbar */
.navbar {
  background:linear-gradient(to right,#00c8ff,#92fe9d);
  border-radius: 0px 0px 20px 20px;
  width: 100%;
  z-index: 9999;
  left: 0;
}
.navbar .container-fluid .navbar-brand {
  color: black;
  font-weight: 900;
}
.navbar .nav-link {
  text-decoration: none;
  color: black;
  font-weight: 900;
  width: 150px;
  text-align: center;
}
.navbar .nav-link:hover {
  color: black;
}
.dropdown-menu {
  animation: goDown 0.3s ease-in-out forwards;

}
@keyframes goDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}
.navbar .nav-item {
  /* border: 1px solid white; */
  border-radius: 20px 20px 0px 0px;
  transition: all 0.3s;
}
.navbar .nav-item:hover {
  background-color: white;
  border-bottom: 0px;
  animation: nav 1s linear;
  
}

.navbar .nav-item:hover .dropdown-menu {
  display:block;
}
@media only screen and (max-width: 990px) {
  .navbar .nav-link {
    text-align: start;
    margin-left: 10px;
  }
  .navbar .nav-item {
    border-radius: 0px 0px 0px 0px;
  }
}
/* navbar */


.container-fluid.zero{
   margin-bottom: 100px;
   width: fit-content;
}
@media only screen and (max-width: 600px) {
  .container.one {
    margin-top: 50px;
  }
}

/* card list */
.container-fluid.one .card-intro {
  background-image: linear-gradient(0deg,#ff8a00,#e52e71);
  border-radius: 15px;
}
.container-fluid.one .card-intro .card-body {
  margin-top: 250px;
}
.container-fluid.one a {
  text-decoration: none;
}
.container-fluid.one .card-list {
  display: flex;
  overflow-x: scroll;

}
.container-fluid.one .card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.container-fluid.one .card-list::-webkit-scrollbar-thumb {
  background-image: linear-gradient(0deg,#ff8a00,#e52e71);
  border-radius: 10px;
}

.container-fluid.one .card,
.container-fluid.one .card-item {
  min-width: 280px;
  height: 450px;
}

.container-fluid.one .card-item {
  border-radius: 16px;
  box-shadow: -16px 0 48px #ddd;
}

.container-fluid.one .card-item:focus-within~.card-item, .card-item:hover~.card-item {
  transform: translateX(130px);
  transition: 1s;
}

.container-fluid.one .card-item:hover {
  transform: translateY(-16px);
  transition: 1s;

}

.container-fluid.one .card-item:not(:first-child) {
  margin-left: -140px;
}
@media only screen and (max-width: 600px) {
  .container-fluid.one .card-intro {
      width: 130px;
      height: 200px;
  }
  .container-fluid.one .card-intro .card-body {
    margin-top: 30px;
  }
}
/* card list */



/* Box cards */
.container.two {
  margin-bottom: 100px;
  /* height: 800px;
  position: relative; */
}
.container.two .box{
  width: 100%;
  height:100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-direction: column;
  background-color: rgba(240, 248, 255, 0.416);
  border-radius: 20px;
  border: 1px solid lightgray;
  margin-top: 20px;

}
.container.two .box:hover{
  transform: scale(1.2);
  transition: all 3s;
}
.container.two .box .btn {
  background:linear-gradient(to right,#00C9FF,#92FE9D);
}

/* .container.two .blob {
  height: 150px;
  width: 150px;
  background:linear-gradient(#00C9FF,#92FE9D);
  margin-bottom: 50px;
  border-radius: 30% 50% 20% 40%;
  position: absolute;
  z-index: -100;
  top: 50px;
  left: -50px;
  animation: 
      Transform 20s ease-in-out alternate infinite,
      movement 60s ease-in-out alternate infinite ;
}
.container.two .blob.one{
  height: 300px;
  width: 300px;
  left: 90%;
  top: 150px;
  animation: 
      Transform 20s ease-in-out alternate infinite,
      movement_one 60s ease-in-out alternate infinite ;
  
}
.container.two .blob.two {
  height: 500px;
  width: 500px;
  top: 300px;
  left: -300px;
  animation: 
      Transform 20s ease-in-out alternate infinite,
      movement_two 60s ease-in-out alternate infinite ;
}
@keyframes Transform {
  0% {border-radius: 30% 50% 20% 40% / 30% 30% 70% 70%;}
  25%   {border-radius: 33% 67% 70% 30% / 37% 65% 35% 63%;}
  50%   {border-radius: 37% 63% 51% 49% / 64% 48% 52% 36%;}
  75%   {border-radius: 36% 64% 64% 36% / 30% 30% 70% 70%;}
  100%   {border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;}
}
@keyframes movement {
 50% {transform:translate(50%,20%) rotate(360deg) scale(2);}
}
@keyframes movement_one {
  50% {transform:translate(-50%,20%) rotate(-360deg);}
}
@keyframes movement_two {
  50% {transform: translate(50%,20%) scale(1.2);}
} */

/* @media only screen and (max-width: 600px) {
  .container.two {
    position: absolute;
  }
} */
/* Box cards */

/* blobs */
/* .container.three {
  height: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .text {
  color: white;
  z-index: 4;
  position: relative;
  font-size: 50px;
} */

/* blobs */


/* video */
/* .container-fluid.two {
  border: 1px solid lightgray;
  box-shadow: -16px 0 48px #ddd;
}
.container-fluid.two .btn {
  background:linear-gradient(to right,#00C9FF,#92FE9D);
} */
/* #video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
} */
.container-fluid.two #video-background {
  width: 100%;
}
/* video */



/* text and images side by side */
.col-text {
  height:20em;
}
.grid-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row; 
  -webkit-flex-direction: row;
  /* -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around; */
}
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.col-left {
  -webkit-box-ordinal-group:-1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.col-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  width: 60%;
}
.col-image {
  background-size: cover;
  background-position:center center;
}

@media (max-width: 640px) {
  .grid-flex {
    height: 40em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column; 
   }
  .col {
    order:vertical;
  }
  .col-left {
    -webkit-box-ordinal-group:0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .col-text div p {
    padding: 1em;
  }
  .Aligner-item {
    width: 90%;
  }
}
/* text and images side by side */

/* footer */
footer {
  background:linear-gradient(to right,#00C9FF,#92FE9D);
  color: black;
}
footer a{
  text-decoration: none;
  color: black;
}
footer hr {
  width: 60px; 
  background-color: black; 
  height: 2px
}
footer .social_icon i {
  color: black;
}
footer .social_icon i:hover {
  transform: translate(0px,-20px);
  transition: 1s;
  
}
/* footer */


